@using Shop.EntityFramework.Entities
@using Shop.Web.Common
@using Shop.Web.Common.PageFilter
@model CommonPageResult<Product>
@{
    ViewBag.Title = "Index";
}

<section class="breadcrumb-area breadcrumb-bg" data-background="/assets/img/bg/breadcrumb_bg.jpg">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumb-content">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Product</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="top-rated-movie tr-movie-bg" data-background="/assets/img/bg/tr_movies_bg.jpg">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="section-title text-center mb-50">
                    <span class="sub-title">ONLINE STREAMING</span>
                    <h2 class="title">Top Trailer Movies</h2>
                </div>
            </div>
            <div class="col-md-8 footer-search">
                <form class="mb-50">
                    <input type="hidden" name="pageIndex" value="@Model.Filter.PageIndex" />
                    <div class="row">
                        <div class="col-md-5">
                            <select class="form-control select2" name="order">
                                <option value="">-- No-Order --</option>
                                <option value="date-desc" @(Model.Filter.Order != "date-desc" ? "selected" : "")>-- Old to new --</option>
                                <option value="date-asc" @(Model.Filter.Order != "date-asc" ? "selected" : "")>-- Old to new --</option>
                                <option value="price-desc" @(Model.Filter.Order != "price-desc" ? "selected" : "")>-- prices increase gradually --</option>
                                <option value="price-asc" @(Model.Filter.Order != "price-asc" ? "selected" : "")>-- prices gradually decrease --</option>
                            </select>
                        </div>
                        <div class="col-md-7">
                            <input type="text" name="searchKey" placeholder="Find Product" value="@Model.Filter.SearchKey">
                            <button><i class="fas fa-search"></i></button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="row renderProduct">
            @foreach (var item in Model.Data)
            {
                var songs = item.Album.Songs.Take(4).ToArray();
                <div class="col-xl-3 col-lg-4 col-sm-6 grid-item grid-sizer cat-one cat-three">
                    <div class="movie-item mb-60">
                        <div class="movie-poster">
                            <a href="@Url.Action("View", "Product", new {code = item.Code})">
                                @if (songs.Length == 1)
                                {
                                    <img src="@songs[0].Song.Image" alt="">
                                }
                                else if (songs.Length == 2)
                                {
                                    <img src="@songs[0].Song.Image" style="height: 50%" alt="">
                                    <img src="@songs[1].Song.Image" style="height: 50%" alt="">
                                }
                                else if (songs.Length == 3)
                                {

                                    <div class="row">
                                        <div class="col-6 pr-0" style="height:200px">
                                            <img src="@songs[0].Song.Image" style="height: 50%;" alt="">
                                            <img src="@songs[1].Song.Image" style="height: 50%;" alt="">
                                        </div>
                                        <div class="col-6 pl-0" style="height:200px">
                                            <img src="@songs[2].Song.Image" style="height: 100%;" alt="">
                                        </div>
                                    </div>
                                }
                                else
                                {
                                    <div class="row">
                                        <div class="col-6 pr-0" style="height:200px">
                                            <img src="@songs[0].Song.Image" style="height: 50%;" alt="">
                                            <img src="@songs[1].Song.Image" style="height: 50%;" alt="">
                                        </div>
                                        <div class="col-6 pl-0" style="height:200px">
                                            <img src="@songs[2].Song.Image" style="height: 50%;" alt="">
                                            <img src="@songs[3].Song.Image" style="height: 50%;" alt="">
                                        </div>
                                    </div>
                                }
                            </a>
                        </div>
                        <div class="movie-content">
                            <div class="top">
                                <h5 class="title"><a href="#">@item.Name</a></h5>
                            </div>
                            <div class="bottom">
                                <ul>
                                    <li>
                                        <span 
                                              data-id="@item.Code"
                                              data-name="@item.Name"
                                              data-price="@item.Price"
                                              data-images="@foreach (var song in songs) { @song.Song.Image.ToString();}"
                                              class="quality AddToCart">
                                            Add to cart
                                        </span>
                                    </li>
                                    <li><span class="date">@(item.Album.ReleaseDate?.ToString("dd/MM/yyyy"))</span></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="row">
            <div class="col-12">
                <div class="pagination-wrap mt-30">
                    <nav>
                        <ul>
                            @for (int i = 1; i <= Model.TotalPage; i++)
                            {
                                if (i == Model.Filter.PageIndex)
                                {
                                    <li class="active"><a href="#">@i</a></li>
                                }
                                else
                                {
                                    <li><a href="#">@i</a></li>
                                }
                            }
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts{
    <script>
        const saveStorage = (name, obj) => {
            if (!obj) return;
            localStorage.setItem(name, JSON.stringify(obj))
        }
        const getStorage = (name) => {
            if (!name) return [];
            return JSON.parse(localStorage.getItem(name))
        }
        $(".AddToCart").click((e) => {
            var id = e.target.dataset.id
            var name = e.target.dataset.name    
            var price = e.target.dataset.price    
            var  [, ...images] = e.target.dataset.images.split("/assets/img/")
            console.log(images)
            const cartList = getStorage("cart")
            if (!cartList || cartList.length === 0) {
                saveStorage("cart", [{ id, name, quantity: 1, price, images: images.join(",") }])
                return;
            }
            const index = cartList.findIndex(cart => cart.id === id)
            if (index === -1) {
                saveStorage("cart", [...cartList, { id, name, quantity: 1, price,  images: images.join(",") }])
                return;
            }
            cartList[index].quantity = cartList[index].quantity + 1
            saveStorage("cart", [...cartList])
        })
    </script>
}

