@using Shop.EntityFramework.Entities
@using Shop.Web.Common.PageFilter
@model Product
@{
    ViewBag.Title = "View";
    var songs = Model.Album.Songs.Take(4).ToArray();
}
<section class="movie-details-area" data-background="/assets/img/bg/movie_details_bg.jpg">
    <div class="container">
        <div class="row align-items-center position-relative">
            <div class="col-xl-5 col-lg-5">
                <div class="col-xl-12 col-lg-12 col-sm-6 grid-item grid-sizer cat-one cat-three">
                    <div class="movie-item mb-60">
                        <div class="movie-poster movie-poster-wrap">

                            @if (songs.Length == 1)
                            {
                                <img src="@songs[0].Song.Image" alt="">
                            }
                            else if (songs.Length == 2)
                            {
                                <img src="@songs[0].Song.Image" style="height: 50%" alt="">
                                <img src="@songs[1].Song.Image" style="height: 50%" alt="">
                            }
                            else if (songs.Length == 3)
                            {

                                <div class="row">
                                    <div class="col-6 pr-0" style="height:200px">
                                        <img src="@songs[0].Song.Image" style="height: 50%;" alt="">
                                        <img src="@songs[1].Song.Image" style="height: 50%;" alt="">
                                    </div>
                                    <div class="col-6 pl-0" style="height:200px">
                                        <img src="@songs[2].Song.Image" style="height: 100%;" alt="">
                                    </div>
                                </div>
                            }
                            else
                            {
                                <div class="row">
                                    <div class="col-6 pr-0" style="height:200px">
                                        <img src="@songs[0].Song.Image" style="height: 50%;" alt="">
                                        <img src="@songs[1].Song.Image" style="height: 50%;" alt="">
                                    </div>
                                    <div class="col-6 pl-0" style="height:200px">
                                        <img src="@songs[2].Song.Image" style="height: 50%;" alt="">
                                        <img src="@songs[3].Song.Image" style="height: 50%;" alt="">
                                    </div>
                                </div>
                            }
                        </div>

                    </div>

                </div>
            </div>
            <div class="col-xl-5 col-lg-5">
                <div class="movie-details-content">
                    <h5>new song</h5>
                    <h3>@Model.Name</h3>
                    <div class="banner-meta">
                        <ul>
                            <li class="quality">
                                <span>pg 18</span>
                                <span>hd</span>
                            </li>
                            <li class="category">
                                <a href="#">Model.Name</a>
                            </li>
                            <li class="release-time">
                                @*<span><i class="far fa-clock"></i> @(Model.CreationTime.tostring("dd/mm/yyyy"))</span>*@
                            </li>
                        </ul>
                    </div>
                    <div class="banner-meta">
                        <ul>
                            <li class="category">

                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="episode-area episode-bg" data-background="/assets/img/bg/episode_bg.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="movie-episode-wrap">
                    <div class="episode-watch-wrap">
                        <div class="accordion" id="accordionExample">
                            <div class="card">
                                <div class="card-header" id="headingOne">
                                    <button class="btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                        <span class="season">List music</span>
                                        <span class="video-count">Total @Model.Album.Songs.Count Song</span>
                                    </button>
                                </div>
                                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                                    <div class="card-body">
                                        <ul>
                                            @foreach (var item in Model.Album.Songs.Select(x => x.Song))
                                            {
                                                <li>
                                                    <a href="@Url.Action("View", "Music", new {code = item.Code})">
                                                        <i class="fas fa-play"></i> @item.Name
                                                    </a>
                                                </li>
                                            }
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="episode-img">
                    <img src="@Model.Album.Songs.FirstOrDefault().Song.Image" alt="">
                </div>
            </div>
        </div>
    </div>
</section>