@model Shop.EntityFramework.Entities.Category
@{
    ViewBag.Title = "Add";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">Admin</a></li>
        <li class="breadcrumb-item active" aria-current="page"><a href="@Url.Action("Index","Category")">Category</a></li>
        <li class="breadcrumb-item active" aria-current="page">Add</li>
    </ol>
</nav>
<div class="card card-primary">
    <!-- /.card-header -->
    <div class="card-body">
        <div class="row">
            <div class="col-md-6">
                <form method="post">
                    @Html.AntiForgeryToken()
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label>Code <span style="color: red">*</span></label>
                                <input type="text" class="form-control" placeholder="Enter Code" name="code" required value="@Model.Code">
                                @Html.ValidationMessageFor(model => model.Code, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <!-- text input -->
                            <div class="form-group">
                                <label>Name <span style="color: red">*</span></label>
                                <input type="text" class="form-control" placeholder="Enter Name" name="name" required value="@Model.Name">
                                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label>Category For <span style="color: red">*</span></label>
                                <select class="form-control" name="cateFor" required>
                                    <option value="true" @(Model.CateFor == true ? "selected" : "")>-- For Song --</option>
                                    <option value="false" @(Model.CateFor == false ? "selected" : "")>-- For Game --</option>
                                    <option value="null" @(Model.CateFor == null ? "selected" : "")>-- For Trailer --</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <!-- textarea -->
                            <div class="form-group">
                                <label>Description</label>
                                <textarea class="form-control" rows="3" placeholder="Enter ..." name="description">@Model.Description</textarea>
                                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-sm-12 text-right">
                            <a class="btn btn-outline-danger" href="@Url.Action("Index", "Category")">Back to list</a>
                            <button class="btn btn-outline-primary">Save</button>
                        </div>
                    </div>
                       
                </form>
            </div>
        </div>
    </div>
    <!-- /.card-body -->
</div>