@using Shop.Web.Common
@using Shop.EntityFramework.Entities
@model CommonListResult<Category>
@{
    ViewBag.Title = "Category";
    var index = (Model.Filter.PageIndex - 1) * 10 + 1;
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="@Url.Action("Index","")">Admin</a></li>
        <li class="breadcrumb-item active" aria-current="page">Category</li>
    </ol>
</nav>
<!-- table -->
<section class="card p-2">
    <form method="get">
        <input type="hidden" name="pageIndex" value="@Model.Filter.PageIndex" />
        <div class="row">
            <div class="col-md-3 form-group">
                <input class="form-control" name="searchKey" placeholder="Search key..." value="@Model.Filter.SearchKey" />
            </div>
            <div class="col-md-3 form-group">
                <select class="form-control" name="cateFor">
                    @if (((CategoryAdminFilter)Model.Filter).CateFor == true)
                    {
                        <option value="true" selected>-- Song --</option>
                        <option value="false">-- Game --</option>
                        <option value="null">-- Trailer --</option>
                    }
                    else if (((CategoryAdminFilter)Model.Filter).CateFor == false)
                    {
                        <option value="true">-- Song --</option>
                        <option value="false" selected>-- Game --</option>
                        <option value="null">-- Trailer --</option>
                    }
                    else
                    {
                        <option value="true">-- Song --</option>
                        <option value="false">-- Game --</option>
                        <option value="null" selected>-- Trailer --</option>
                    }
                </select>
            </div>
            <div class="col-md-3 form-group">
                <button type="submit" class="btn btn-outline-primary">Search</button>
            </div>
            <div class="col-md-3 text-right">
                <a href="@Url.Action("Add", "Category")" class="btn btn-outline-danger">New Category</a>
            </div>
        </div>
    </form>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Code</th>
                <th scope="col">Name</th>
                <th scope="col">For</th>
                <th style="width:220px" class="text-center"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.List)
            {
                <tr>
                    <th scope="row">@index</th>
                    <td>@item.Code</td>
                    <td>@item.Name</td>
                    <td>@(item.CateFor == true ? "Song" : item.CateFor == false ? "Game" : "Trailer")</td>
                    <td class="text-center">
                        <a href="@Url.Action("View", "Category", new {id=@item.Id})" class="btn btn-outline-success " data-toggle="modal" data-target="#exampleModalCenter">View</a>
                        <a href="@Url.Action("Edit", "Category", new {id=@item.Id})" class="btn btn-outline-primary">Edit</a>
                        <a href="@Url.Action("Delete", "Category", new {id=@item.Id})" class="btn btn-outline-danger">Delete</a>
                    </td>
                </tr>
                index++;
            }
        </tbody>
    </table>
    <nav aria-label="Page navigation example right ">
        <ul class="pagination justify-content-end">
          
            @for (int i = 1; i <= Model.TotalPage; i++)
            {
                <li class="page-item @(Model.Filter.PageIndex == i ? "active" : "")">
                    <a class="page-link" href="@Url.Action("index","category",new {
                                            SearchKey=Model.Filter.SearchKey,
                                            PageIndex=i
                                            })" data-page="@i">@i</a>
                                        </li>
            }
          
        </ul>
    </nav>
</section>

@section Scripts{
    <!-- Modal -->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-3 form-group">
                            Code
                        </div>
                        <div class="col-md-9 form-group">
                            <label class="form-label category-code"></label>
                        </div>
                        <div class="col-md-3 form-group">
                            Name
                        </div>
                        <div class="col-md-9 form-group">
                            <label class="form-label category-name"></label>
                        </div>
                        <div class="col-md-3 form-group">
                            Description
                        </div>
                        <div class="col-md-9 form-group">
                            <label class="form-label category-desc"></label>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(document).on("click", "a[data-toggle=modal]", function (e) {
            e.preventDefault();
            var url = $(this).attr("href");
            $.ajax({ url }).done((res) => {
                $(".category-code").html(res.Code);
                $(".category-name").html(res.Name);
                $(".category-desc").html(res.Description);
            })
        })

    </script>
}