@using Shop.EntityFramework.Entities
@using Shop.Web.Common
@using Shop.Web.Common.PageFilter
@model CommonPageResult<SongOrTrailerOrGame>
@{
    ViewBag.Title = "Index";
}

<section class="breadcrumb-area breadcrumb-bg" data-background="/assets/img/bg/breadcrumb_bg.jpg">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumb-content">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Trailer Film</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="top-rated-movie tr-movie-bg" data-background="/assets/img/bg/tr_movies_bg.jpg">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="section-title text-center mb-50">
                    <span class="sub-title">ONLINE STREAMING</span>
                    <h2 class="title">Top Rated Movies</h2>
                </div>
            </div>
            <div class="col-md-8 footer-search">
                <form class="mb-50">
                    <input type="hidden" name="pageIndex" value="@Model.Filter.PageIndex" />
                    <div class="row">
                        <div class="col-md-4">
                            <select class="form-control select2" name="order">
                                <option value="">-- No-Order --</option>
                                <option value="desc" @(Model.Filter.Order == "desc" ? "selected" : "")>-- new to old --</option>
                                <option value="asc" @(Model.Filter.Order != "desc" ? "selected" : "")>-- Old to new --</option>
                            </select>
                        </div>
                        <div class="col-md-8">
                            <input type="text" name="searchKey" placeholder="Find Favorite Movie" value="@Model.Filter.SearchKey">
                            <button><i class="fas fa-search"></i></button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="row renderSong" style="height:auto">
            @foreach (var item in Model.Data)
            {
                <div class="col-xl-3 col-lg-4 col-sm-6 grid-item grid-sizer cat-one cat-three">
                    <div class="movie-item mb-60">
                        <div class="movie-poster">
                            <a href="@Url.Action("View", "TrailerFilm", new {code = item.Code})"><img src="@item.Image" alt=""></a>
                        </div>
                        <div class="movie-content">
                            <div class="top">
                                <h5 class="title"><a href="movie-details.html">@item.Name</a></h5>
                            </div>
                            <div class="bottom">
                                <ul>
                                    <li>
                                        <span class="date" style="color: #e4d804; font-size: 14px; ">
                                            <i class="far fa-clock"></i>@(item.ManufactureDate?.ToString("dd/MM/yyyy"))
                                        </span>
                                    </li>
                                    <li>
                                        <span class="duration">@(item.Category?.Name)</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="row">
            <div class="col-12">
                <div class="pagination-wrap mt-30">
                    <nav>
                        <ul>
                            @for (int i = 1; i <= Model.TotalPage; i++)
                            {
                                if (i == Model.Filter.PageIndex)
                                {
                                    <li class="active"><a href="#">@i</a></li>
                                }
                                else
                                {
                                    <li><a href="#">@i</a></li>
                                }
                            }
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</section>