@using Shop.EntityFramework.Entities
@using Shop.Web.Common.ObjectRequests
@model AlbumObject
@{
    ViewBag.Title = "Edit";
    var songs = (List<SongOrTrailerOrGame>)ViewBag.Songs;
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="@Url.Action("Index","")">Admin</a></li>
        <li class="breadcrumb-item active" aria-current="page"><a href="@Url.Action("Index","album")">Album</a></li>
        <li class="breadcrumb-item active" aria-current="page">Edit</li>
    </ol>
</nav>
<div class="card card-primary">
    <!-- /.card-header -->
    <div class="card-body">
        <div class="row">
            <div class="col-md-6">
                <form method="post">
                    @Html.AntiForgeryToken()
                    <div class="form-group">
                        <label>Code <span style="color: red">*</span></label>
                        <input class="form-control" name="code" value="@Model.Code" placeholder="Enter Code" required>
                        @Html.ValidationMessageFor(model => model.Code, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        <label>Name <span style="color: red">*</span></label>
                        <input class="form-control" name="name" value="@Model.Name" placeholder="Enter Name" required>
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        <label>Release Date:</label>
                        <input class="form-control" type="date" name="releaseDate" value="@(Model.ReleaseDate?.ToString("yyyy-MM-dd"))">
                    </div>
                    <div class="form-group">
                        <label>Songs <span style="color: red">*</span>:</label>
                        <select class="form-control select2" multiple="multiple" name="songs[]" required>
                            <option value="">-- Song --</option>
                            @foreach (var item in songs)
                            {
                                <option value="@item.Id" @(Model.Songs != null && Model.Songs.Contains(item.Id) ? "selected" : "")>@item.Code - @item.Name</option>
                            }
                        </select>
                        @Html.ValidationMessageFor(model => model.Songs, "", new { @class = "text-danger" })
                    </div>
                    <!-- textarea -->
                    <div class="form-group">
                        <label>Description <span style="color: red">*</span></label>
                        <textarea class="form-control" name="description" rows="3" placeholder="Enter ..." required>@Model.Description</textarea>
                        @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group text-right">
                        <a class="btn btn-outline-danger" href="@Url.Action("Index","Album")">Back to list</a>
                        <button type="submit" class="btn btn-outline-primary">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- /.card-body -->
</div>

@section Styles{
    <!-- Select2 -->
    <link rel="stylesheet" href="/assets/manager/plugins/select2/css/select2.min.css">
    <link rel="stylesheet" href="/assets/manager/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css">
    <!-- summernote -->
    <link rel="stylesheet" href="/assets/manager/plugins/summernote/summernote-bs4.min.css">
}

@section Scripts{
    <!-- Select2 -->
    <script src="/assets/manager/plugins/select2/js/select2.full.min.js"></script>
    <!-- InputMask -->
    <script src="/assets/manager/plugins/moment/moment.min.js"></script>
    <script src="/assets/manager/plugins/inputmask/jquery.inputmask.min.js"></script>
    <!-- Summernote -->
    <script src="/assets/manager/plugins/summernote/summernote-bs4.min.js"></script>

    <script>
        $(function () {
            //Initialize Select2 Elements
            $('.select2').select2();

            //Datemask dd/mm/yyyy
            $('.datemask').inputmask('dd/mm/yyyy', { 'placeholder': 'dd/mm/yyyy' });

            $('#summernote').summernote({ height: 200, });
        })
    </script>
}