@using Shop.EntityFramework.Entities
@using Shop.EntityFramework.Infrastructures.Enums
@model User
@{
    ViewBag.Title = "Profile";
    var bills = (List<Bill>)ViewBag.Bills;
}

<section class="breadcrumb-area breadcrumb-bg" data-background="/assets/img/bg/breadcrumb_bg.jpg">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumb-content">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Profile</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- contact-area -->
<section class="contact-area contact-bg pt-0" data-background="/assets/img/bg/contact_bg.jpg">
    <div class="container wrap_profile">
        <div class="row">
            <div class="col-lg-6">
                <div class="profile_image">
                    <img class="profile_image-img" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTRxrfYRcQAUlt812xbcJ0bd9L9eaobxk-0eg&usqp=CAU" />
                    <div>
                        <p><span>Name: </span> @Model.Name</p>
                        <p><span>Email: </span>@Model.Email</p>
                        <p><span>Phone Number: </span>@Model.Phone</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6"></div>
        </div>
        <div class="container my-4"><h2>Order infomation </h2></div>
        <div id="exTab3" class="container">
            <ul class="nav nav-pills row mx-0">
                <li class="active col-lg-3 profile_tabs-item">
                    <a href="#1b" data-toggle="tab">Created and Processing</a>
                </li>
                <li class=" col-lg-3 profile_tabs-item">
                    <a href="#2b" data-toggle="tab">Shipping</a>
                </li>
                <li class="col-lg-3 profile_tabs-item">
                    <a href="#3b" data-toggle="tab">Done</a>
                </li>
                <li class="col-lg-3 profile_tabs-item">
                    <a href="#4a" data-toggle="tab">Cancel</a>
                </li>
            </ul>

            <div class="tab-content clearfix">
                <div class="tab-pane active" id="1b">
                    @foreach (var item in bills.Where(x => x.Status == BillStatusEnum.Created || x.Status == BillStatusEnum.Processing))
                    {
                        var product = item.Details.FirstOrDefault().Product;
                        var songs = product.Album.Songs.Take(4).ToArray();
                        <div class="col-sm-12 mb-3">
                            <div class="border p-3 ">
                                <div class=" d-flex align-items-center gap-24">
                                    <div class="movie-poster">
                                        <a href="@Url.Action("View", "Product", new {code = product.Code})">
                                            @if (songs.Length == 1)
                                            {
                                                <img src="@songs[0].Song.Image" alt="">
                                            }
                                            else if (songs.Length == 2)
                                            {
                                                <img src="@songs[0].Song.Image" style="height: 50%" alt="">
                                                <img src="@songs[1].Song.Image" style="height: 50%" alt="">
                                            }
                                            else if (songs.Length == 3)
                                            {

                                                <div class="row">
                                                    <div class="col-6 pr-0" style="height:200px">
                                                        <img src="@songs[0].Song.Image" style="height: 50%;" alt="">
                                                        <img src="@songs[1].Song.Image" style="height: 50%;" alt="">
                                                    </div>
                                                    <div class="col-6 pl-0" style="height:200px">
                                                        <img src="@songs[2].Song.Image" style="height: 100%;" alt="">
                                                    </div>
                                                </div>
                                            }
                                            else
                                            {
                                                <div class="row">
                                                    <div class="col-6 pr-0" style="height:200px">
                                                        <img src="@songs[0].Song.Image" style="height: 50%;" alt="">
                                                        <img src="@songs[1].Song.Image" style="height: 50%;" alt="">
                                                    </div>
                                                    <div class="col-6 pl-0" style="height:200px">
                                                        <img src="@songs[2].Song.Image" style="height: 50%;" alt="">
                                                        <img src="@songs[3].Song.Image" style="height: 50%;" alt="">
                                                    </div>
                                                </div>
                                            }
                                        </a>
                                    </div>
                                    <a class="flex-grow-1 pl-4" href="@Url.Action("View", "Product", new {code = product.Code})">
                                        <h4>@product.Name</h4>
                                    </a>
                                    <h5>@item.Details.FirstOrDefault().Quantity</h5>
                                    <h5>@(item.Details.FirstOrDefault().Quantity * item.Details.FirstOrDefault().Price)</h5>
                                    <h5>@item.Status.ToString()</h5>
                                    <div>
                                        <button data-id="@item.Id" class="btn cart_deleteBtn">Cancel Bill</button>
                                    </div>
                                </div>

                            </div>
                        </div>
                    }
                </div>
                <div class="tab-pane" id="2b">
                    @foreach (var item in bills.Where(x => x.Status == BillStatusEnum.Shipping))
                    {
                        var product = item.Details.FirstOrDefault().Product;
                        var songs = product.Album.Songs.Take(4).ToArray();
                        <div class="col-sm-12 mb-3">
                            <div class="border p-3 ">
                                <div class=" d-flex align-items-center gap-24">
                                    <div class="movie-poster">
                                        <a href="@Url.Action("View", "Product", new {code = product.Code})">
                                            @if (songs.Length == 1)
                                            {
                                                <img src="@songs[0].Song.Image" alt="">
                                            }
                                            else if (songs.Length == 2)
                                            {
                                                <img src="@songs[0].Song.Image" style="height: 50%" alt="">
                                                <img src="@songs[1].Song.Image" style="height: 50%" alt="">
                                            }
                                            else if (songs.Length == 3)
                                            {

                                                <div class="row">
                                                    <div class="col-6 pr-0" style="height:200px">
                                                        <img src="@songs[0].Song.Image" style="height: 50%;" alt="">
                                                        <img src="@songs[1].Song.Image" style="height: 50%;" alt="">
                                                    </div>
                                                    <div class="col-6 pl-0" style="height:200px">
                                                        <img src="@songs[2].Song.Image" style="height: 100%;" alt="">
                                                    </div>
                                                </div>
                                            }
                                            else
                                            {
                                                <div class="row">
                                                    <div class="col-6 pr-0" style="height:200px">
                                                        <img src="@songs[0].Song.Image" style="height: 50%;" alt="">
                                                        <img src="@songs[1].Song.Image" style="height: 50%;" alt="">
                                                    </div>
                                                    <div class="col-6 pl-0" style="height:200px">
                                                        <img src="@songs[2].Song.Image" style="height: 50%;" alt="">
                                                        <img src="@songs[3].Song.Image" style="height: 50%;" alt="">
                                                    </div>
                                                </div>
                                            }
                                        </a>
                                    </div>
                                    <a class="flex-grow-1 pl-4" href="@Url.Action("View", "Product", new {code = product.Code})">
                                        <h4>@product.Name</h4>
                                    </a>
                                    <h5>@item.Details.FirstOrDefault().Quantity</h5>
                                    <h5>@(item.Details.FirstOrDefault().Quantity * item.Details.FirstOrDefault().Price)</h5>
                                    <h5>@item.Status.ToString()</h5>

                                </div>

                            </div>
                        </div>
                    }
                </div>
                <div class="tab-pane" id="3b">
                    @foreach (var item in bills.Where(x => x.Status == BillStatusEnum.Done))
                    {
                        var product = item.Details.FirstOrDefault().Product;
                        var songs = product.Album.Songs.Take(4).ToArray();
                        <div class="col-sm-12 mb-3">
                            <div class="border p-3 ">
                                <div class=" d-flex align-items-center gap-24">
                                    <div class="movie-poster">
                                        <a href="@Url.Action("View", "Product", new {code = product.Code})">
                                            @if (songs.Length == 1)
                                            {
                                                <img src="@songs[0].Song.Image" alt="">
                                            }
                                            else if (songs.Length == 2)
                                            {
                                                <img src="@songs[0].Song.Image" style="height: 50%" alt="">
                                                <img src="@songs[1].Song.Image" style="height: 50%" alt="">
                                            }
                                            else if (songs.Length == 3)
                                            {

                                                <div class="row">
                                                    <div class="col-6 pr-0" style="height:200px">
                                                        <img src="@songs[0].Song.Image" style="height: 50%;" alt="">
                                                        <img src="@songs[1].Song.Image" style="height: 50%;" alt="">
                                                    </div>
                                                    <div class="col-6 pl-0" style="height:200px">
                                                        <img src="@songs[2].Song.Image" style="height: 100%;" alt="">
                                                    </div>
                                                </div>
                                            }
                                            else
                                            {
                                                <div class="row">
                                                    <div class="col-6 pr-0" style="height:200px">
                                                        <img src="@songs[0].Song.Image" style="height: 50%;" alt="">
                                                        <img src="@songs[1].Song.Image" style="height: 50%;" alt="">
                                                    </div>
                                                    <div class="col-6 pl-0" style="height:200px">
                                                        <img src="@songs[2].Song.Image" style="height: 50%;" alt="">
                                                        <img src="@songs[3].Song.Image" style="height: 50%;" alt="">
                                                    </div>
                                                </div>
                                            }
                                        </a>
                                    </div>
                                    <a class="flex-grow-1 pl-4" href="@Url.Action("View", "Product", new {code = product.Code})">
                                        <h4>@product.Name</h4>
                                    </a>
                                    <h5>@item.Details.FirstOrDefault().Quantity</h5>
                                    <h5>@(item.Details.FirstOrDefault().Quantity * item.Details.FirstOrDefault().Price)</h5>
                                    <h5>@item.Status.ToString()</h5>
                                </div>

                            </div>
                        </div>
                    }
                </div>
                <div class="tab-pane" id="4b">
                    @foreach (var item in bills.Where(x => x.Status == BillStatusEnum.Cancel))
                    {
                        var product = item.Details.FirstOrDefault().Product;
                        var songs = product.Album.Songs.Take(4).ToArray();
                        <div class="col-sm-12 mb-3">
                            <div class="border p-3 ">
                                <div class=" d-flex align-items-center gap-24">
                                    <div class="movie-poster">
                                        <a href="@Url.Action("View", "Product", new {code = product.Code})">
                                            @if (songs.Length == 1)
                                            {
                                                <img src="@songs[0].Song.Image" alt="">
                                            }
                                            else if (songs.Length == 2)
                                            {
                                                <img src="@songs[0].Song.Image" style="height: 50%" alt="">
                                                <img src="@songs[1].Song.Image" style="height: 50%" alt="">
                                            }
                                            else if (songs.Length == 3)
                                            {

                                                <div class="row">
                                                    <div class="col-6 pr-0" style="height:200px">
                                                        <img src="@songs[0].Song.Image" style="height: 50%;" alt="">
                                                        <img src="@songs[1].Song.Image" style="height: 50%;" alt="">
                                                    </div>
                                                    <div class="col-6 pl-0" style="height:200px">
                                                        <img src="@songs[2].Song.Image" style="height: 100%;" alt="">
                                                    </div>
                                                </div>
                                            }
                                            else
                                            {
                                                <div class="row">
                                                    <div class="col-6 pr-0" style="height:200px">
                                                        <img src="@songs[0].Song.Image" style="height: 50%;" alt="">
                                                        <img src="@songs[1].Song.Image" style="height: 50%;" alt="">
                                                    </div>
                                                    <div class="col-6 pl-0" style="height:200px">
                                                        <img src="@songs[2].Song.Image" style="height: 50%;" alt="">
                                                        <img src="@songs[3].Song.Image" style="height: 50%;" alt="">
                                                    </div>
                                                </div>
                                            }
                                        </a>
                                    </div>
                                    <a class="flex-grow-1 pl-4" href="@Url.Action("View", "Product", new {code = product.Code})">
                                        <h4>@product.Name</h4>
                                    </a>
                                    <h5>@item.Details.FirstOrDefault().Quantity</h5>
                                    <h5>@(item.Details.FirstOrDefault().Quantity * item.Details.FirstOrDefault().Price)</h5>
                                    <h5>@item.Status.ToString()</h5>
                                </div>

                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>

    </div>
</section>
@section Scripts{
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
}
