@using Shop.EntityFramework.Entities
@using Shop.EntityFramework.Infrastructures.Enums
@model Shop.Web.Common.CommonListResult<News>
@{
    ViewBag.Title = "Index";
    var songs = (List<SongOrTrailerOrGame>)ViewBag.Songs;
}

<!-- blog-area -->
<section class="blog-area blog-bg" data-background="/assets/img/bg/blog_bg.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                @foreach (var item in Model.List)
                {
                    <div class="blog-post-item">
                        <div class="blog-post-thumb">
                            <a href="@Url.Action("View", "Blog", new {code = item.Code})"><img src="@item.Image" alt=""></a>
                        </div>
                        <div class="blog-post-content">
                            <span class="date"><i class="far fa-clock"></i> @item.CreationTime.ToString("HH:mm dd/mm/yyyy")</span>
                            <h2 class="title"><a href="@Url.Action("View", "Blog", new {code = item.Code})">@item.Name</a></h2>
                            <p>
                                @item.ShortDesciption
                            </p>
                        </div>
                    </div>
                }
                <div class="pagination-wrap mt-60">
                    <nav>
                        <ul>
                            @for (int i = 1; i <= Model.TotalPage; i++)
                            {
                                if (i == Model.Filter.PageIndex)
                                {
                                    <li class="active"><a href="#">@i</a></li>
                                }
                                else
                                {
                                    <li>
                                        <a href="@Url.Action("index","blog",new Shop.Web.Common.CommonFilter{
                                            SearchKey=Model.Filter.SearchKey,
                                            PageIndex=i
                                            })">@i</a>
                                        </li>
                                    }
                                }
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="col-lg-4">
                <aside class="blog-sidebar">
                    <div class="widget blog-widget">
                        <div class="widget-title mb-30">
                            <h5 class="title">Search Objects</h5>
                        </div>
                        <form class="sidebar-search">
                            <input type="text" placeholder="Search..." value="@Model.Filter.SearchKey">
                            <button><i class="fas fa-search"></i></button>
                        </form>
                    </div>
                    <div class="widget blog-widget">
                        <div class="widget-title mb-30">
                            <h5 class="title">New</h5>
                        </div>
                        <div class="rc-post">
                            <ul>
                                @foreach (var item in songs)
                                {
                                    var controllerName = item.Type == SongTrailerGameTypeEnum.Song ? "Mucsic" : item.Type == SongTrailerGameTypeEnum.TrailerFilm ? "TrailerFilm" : "Game";
                                    <li class="rc-post-item">
                                        <div class="thumb" style="height: 100px;">
                                            <a href="@Url.Action("View", controllerName, new {code = item.Code})">
                                                <img src="@item.Image" alt="" style="width: 100%;height: 100%; object-fit: cover">
                                            </a>
                                        </div>
                                        <div class="content">
                                            <h5 class="title"><a href="@Url.Action("View", controllerName, new {code = item.Code})">@item.Name</a></h5>
                                        </div>
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>
                </aside>
            </div>
        </div>
    </div>
</section>
<!-- blog-area-end -->