@using Shop.EntityFramework.Entities
@model Shop.Web.Common.ObjectRequests.UserCoUObject
@{
    ViewBag.Title = "Edit";
    List<Role> roles = (List<Role>)ViewBag.Roles;
}


<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="@Url.Action("Index","")">Admin</a></li>
        <li class="breadcrumb-item active" aria-current="page"><a href="@Url.Action("Index","user")">User</a></li>
        <li class="breadcrumb-item active" aria-current="page">Edit</li>
    </ol>
</nav>
<div class="card card-primary">
    <!-- /.card-header -->
    <div class="card-body">
        <form method="post">
            @Html.AntiForgeryToken()
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Subname</label>
                        <input type="text" class="form-control" name="surName" value="@Model.SurName" placeholder="Enter SurName">
                    </div>
                    <div class="form-group">
                        <label>Name  <span style="color: red">*</span></label>
                        <input type="text" class="form-control" name="name" value="@Model.Name" placeholder="Enter Name">
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        <label>Email  <span style="color: red">*</span></label>
                        <input type="text" class="form-control" name="email" value="@Model.Email" disabled placeholder="Enter Category for">
                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        <label>Password  <span style="color: red">*</span></label>
                        <input type="password" class="form-control" name="password" value="@Model.Password" disabled placeholder="Enter Password">
                        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        <label>Phone Number</label>
                        <input type="text" class="form-control" name="phone" value="@Model.Phone" placeholder="Enter Phone Number">
                        @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        <label>Active</label>
                        <div><input type="checkbox" name="isActive" @(Model.IsActive ? "checked" : "") data-bootstrap-switch></div>
                    </div>
                    <div class="form-group">
                        <label>Roles</label>
                        <select class="custom-select select2" name="role">
                            <option value="">-- Role --</option>
                            @foreach (var item in roles)
                            {
                                <option value="@item.Id">@item.RoleName</option>
                            }
                        </select>
                        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 text-right">
                    <a class="btn btn-outline-danger" href="@Url.Action("Index")">Back to list</a>
                    <button type="submit" class="btn btn-outline-primary">Submit</button>
                </div>
            </div>
        </form>
    </div>
    <!-- /.card-body -->
</div>

