@using Shop.Web.Common
@using Shop.EntityFramework.Entities
@model CommonListResult<User>
@{
    ViewBag.Title = "Index";
    var level = ((UserAdminFilter)Model.Filter).IsAdmin;
    var index = 1;
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="@Url.Action("Index","")">Admin</a></li>
        <li class="breadcrumb-item active" aria-current="page">User</li>
    </ol>
</nav>
<!-- table -->
<section class="card p-2">
    <form method="get">
        <input type="hidden" name="pageIndex" value="@Model.Filter.PageIndex" />
        <div class="row">
            <div class="col-md-3 form-group">
                <input class="form-control" name="searchKey" placeholder="Search key..." value="@Model.Filter.SearchKey" />
            </div>
            <div class="col-md-3 form-group">
                <select class="form-control" name="isAdmin">
                    <option value="" @(level == null ? "selected" : "") )>-- All user --</option>
                    <option value="true" @(level == true ? "selected" : "") )>-- Manager user --</option>
                    <option value="false" @(level == false ? "selected" : "") )>-- Customer --</option>
                </select>
            </div>
            <div class="col-md-3 form-group">
                <button type="submit" class="btn btn-outline-primary">Search</button>
            </div>
            <div class="col-md-3 text-right">
                <a href="@Url.Action("Add", "User")" class="btn btn-outline-danger">New Manager User</a>
            </div>
        </div>
    </form>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Sur name</th>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Roles</th>
                <th scope="col">Status</th>
                <th style="width:220px" class="text-center"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.List)
            {
                <tr>
                    <th scope="row">@index</th>
                    <td>@item.SurName</td>
                    <td>@item.Name</td>
                    <td>@item.Email</td>
                    <td>@string.Join(", ", item.Roles.Select(x => x.Role.RoleName))</td>
                    <td>
                        <a href="@Url.Action("ChangeStatus", "User", new { enable = !item.IsActive })" class="btn btn-danger">@(item.IsActive ? "Active" : "Non-Active")</a>
                    </td>
                    <td class="text-center">
                        <a href="@Url.Action("View", "User", new { id = @item.Id })" class="btn btn-outline-success">View</a>
                        <a href="@Url.Action("Edit", "User", new {id=@item.Id})" class="btn btn-outline-primary">Edit</a>
                        <a href="@Url.Action("Delete", "User", new {id=@item.Id})" class="btn btn-outline-danger">Delete</a>
                    </td>
                </tr>
                index++;
            }
        </tbody>
    </table>
    <nav aria-label="Page navigation example right ">
        <ul class="pagination justify-content-end">
            <li class="page-item @(Model.Filter.PageIndex - 1 == 0 ? "disabled" : "")">
                <a class="page-link" href="#" tabindex="-1">Previous</a>
            </li>
            @for (int i = 1; i <= Model.TotalPage; i++)
            {
                <li class="page-item @(Model.Filter.PageIndex == i ? "active" : "")"><a class="page-link" href="#" data-page="@i">@i</a></li>
            }
            <li class="page-item @(Model.Filter.PageIndex == Model.TotalPage ? "disabled" : "")">
                <a class="page-link" href="#">Next</a>
            </li>
        </ul>
    </nav>
</section>
