
@using Shop.EntityFramework.Entities
@model Sale
@{

    ViewBag.Title = "Add";
 
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="@Url.Action("Index","")">Admin</a></li>
        <li class="breadcrumb-item active" aria-current="page"><a href="@Url.Action("Index","album")">Sale</a></li>
        <li class="breadcrumb-item active" aria-current="page">Add</li>
    </ol>
</nav>

<div class="card card-primary">
    <!-- /.card-header -->
    <div class="card-body">
        <div class="row">
            <div class="col-md-6">
                <form method="post">
                    @Html.AntiForgeryToken()
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label>Percent <span style="color: red">*</span></label>
                                <input type="text" class="form-control" placeholder="Enter Percent" name="percent" required value="@Model.Percent">
                                @Html.ValidationMessageFor(model => model.Percent, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <!-- text input -->
                            <div class="form-group">
                                <label>Name <span style="color: red">*</span></label>
                                <input type="text" class="form-control" placeholder="Enter Quantity" name="quantity" required value="@Model.Quantity">
                                @Html.ValidationMessageFor(model => model.Quantity, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="col-sm-12">
                            <div class="form-group">
                                <label>Price <span style="color: red">*</span></label>
                                <input type="text" class="form-control" placeholder="Enter Price" name="price" required value="@Model.Price">
                                @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="col-sm-12">
                            <div class="form-group">
                                <label>Start Date <span style="color: red">*</span></label>
                                <input class="form-control datemask" type="date" placeholder="Enter End Date" name="startDate" value="@(Model.StartDate.ToString("yyyy-MM-dd"))">
                                @Html.ValidationMessageFor(model => model.StartDate, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label>End Date <span style="color: red">*</span></label>
                                <input class="form-control datemask" type="date" placeholder="Enter End Date" name="endDate" value="@(Model.EndDate.ToString("yyyy-MM-dd"))">
                                @Html.ValidationMessageFor(model => model.EndDate, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <!-- textarea -->
                            <div class="form-group">
                                <label>Content</label>
                                <textarea class="form-control" rows="3" placeholder="Enter Content" name="content" value="@Model.Content"></textarea>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <select class="form-control select2" multiple="multiple" name="Products[]" required>
                                <option value="">-- Song --</option>
                      
                            </select>
                        </div>
                    </div>
                    <div>
                        <div class="col-sm-12 text-right">
                            <a class="btn btn-outline-danger" href="@Url.Action("Index", "Sale")">Back to list</a>
                            <button class="btn btn-outline-primary">Save</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- /.card-body -->
</div>
